<%= render 'shared/nav' %>

<div id="selected-bottoms-true" data-json="<%=@selected_bottoms.present?%>">
<% if @selected_bottoms.present?%>
  <% for n in 0...@selected_bottoms.count %>
    <div id="selected-bottoms-count" data-json="<%= @selected_bottoms.count %>">
    <div id="selected-bottoms-<%=n%>" data-json="<%= @selected_bottoms[n].image.url.to_json%>">
    </div>
  <% end %>
<% end %>

<div id="selected-tops-true" data-json="<%=@selected_tops.present?%>">
<% if @selected_tops.present?%>
  <% for n in 0...@selected_tops.count %>
    <div id="selected-tops-count" data-json="<%= @selected_tops.count %>">
    <div id="selected-tops-<%=n%>" data-json="<%= @selected_tops[n].image.url.to_json%>">
    </div>
  <% end %>
<% end %>
<div class="box-wrapper">
  <span>ブラウザをリロードすると服の選択はすべて解除されます。</span>
  <div class="canvas-wrapper">
    <canvas id="canvas" width="600" height="600"></canvas>
  </div>
  <span>chromeで画像のダウンロードがうまくいかない場合は、<br>safariを利用してください。</span>
</div>
<div class="buttons flex">
  <button class="button" id="download">Download</button>
  <button class="button" id="deleteBtn">Delete</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.4.0/fabric.min.js"></script>
