<div id="js-item-<%= user_clothe.id %>" class="item <%= "opacity-half" if user_clothe.selected %>">
  <% if user_clothe.relation == 'original' %> 
    <div class="closet-button"> 
      <% if user_clothe.state == "published" %>
        <%= link_to publish_mycloset_path(user_clothe.clothe_id, user_clothe:{ state: "privated" }), data: {confirm: "この服を非公開にしますか？"} do %>
          <%= image_tag "open.png" %>
        <% end %>
      <% else %>
        <%= link_to publish_mycloset_path(user_clothe.clothe_id, user_clothe:{ state: "published" }), data: {confirm: "この服を公開にしますか？"} do %>
          <%= image_tag "close.png" %>
        <% end %>
      <% end %>
    </div>
    <span class="option-button js-edit-modal-open-<%=user_clothe.id %>">
    <%= link_to '...', edit_mycloset_path(user_clothe.id), remote: true %>
    </span>
  <% end %> 
  <div class="edit-modal js-edit-modal-<%=user_clothe.id%>">
    <div class="edit-modal-bg js-edit-modal-close-<%=user_clothe.id %>"></div>
    <div class="modal-content-<%=user_clothe.id %> modal-content">
      <%=render 'update_form', { brand_name: user_clothe.clothe.brand_name, clothe: user_clothe.clothe } %>
    </div>
  </div>
  <%= link_to mycloset_path(user_clothe.id), method: :delete, remote: true, data: {confirm: "この服を削除しますか？"} do %>
    <i class="fas fa-trash"></i>
  <% end %>
  <p class="item-img"><%= image_tag user_clothe.clothe.image.url %></p>
  <div class="item-detail-wrapper">
    <div class="item-detail">
      <div style="font-size:1.4rem" id="brand-name-<%=user_clothe.id %>"><%= user_clothe.clothe.brand_name.name %></div>
      <div id="category-<%=user_clothe.id %>">#<%= user_clothe.clothe.category %></div>
      <div id="gender-<%=user_clothe.id %>">#<%= user_clothe.clothe.gender %></div>
    </div>
    <div class="item-select-button">
      <% if user_clothe.selected %>
        <%= link_to '選択を解除する',select_mycloset_path(user_clothe.id, user_clothe: { selected: !user_clothe.selected }),
        class: "button",id: "js-change-selected-link-#{user_clothe.id}", remote: true %>
      <% else %>
        <%= link_to '選択する',select_mycloset_path(user_clothe.id, user_clothe: { selected: !user_clothe.selected }), class: "button",id: "js-change-selected-link-#{user_clothe.id}", remote: true %>
      <% end %>
    </div>
  </div>
</div>
