<%= form_with model: brand_name , url: mycloset_path(clothe), local: false, method: :patch, id:'update-form' do |f| %>
  <div class="form-group">
    <%= f.label :name, 'ブランド名を入力'%>
    <%= f.text_field :name,class: 'input-form'%>
  </div>
  <%= f.fields_for :clothe do |i| %>
    <div class="form-group" id="update-genre-<%= clothe.id %>">
      <%= i.label :genre, 'カテゴリーを選択'%>
      <%= i.select :genre, options_for_select(Clothe.genres.keys, selected: clothe.genre), {include_blank: ''}, { class: "select-form", onchange: "changeColor(this)" } %>
    </div>
    <div class="form-group">
      <%= i.label :gender, 'ジェンダーを選択'%>
      <%= i.select :gender, options_for_select(Clothe.genders.keys, selected: clothe.gender), {include_blank: ''}, { class: "select-form", onchange: "changeColor(this)" } %>
    </div>
  <% end %>
  <%= f.submit '更新する',class: 'button' %>
  <a class="js-edit-modal-close-<%=clothe.id%> mt5" href="">閉じる</a>
<% end %>
