<%= render 'shared/nav' %>
<div class="contents-wrapper">
  <div class="flex">
    <div class="search-forms">
      <input type="search" placeholder="カテゴリーから探す プルダウン">
      <input type="search" placeholder="ブランド名から探す">
    </div>
  </div>
  <div class="items">
    <% @my_clothes.each do |clothe| %>
      <div id="js-item-<%= clothe.id %>" class="item opacity">
        <%= link_to mycloset_path(clothe.id), method: :delete, remote: true, data: {confirm: "この服を削除しますか？"} do %>
          <i class="fas fa-trash"></i>
        <% end %>
        <span class="option-button js-edit-modal-open-<%=clothe.id%>">
        <%= link_to '...', edit_mycloset_path(clothe), remote: true %>
        </span>
        <div class="edit-modal js-edit-modal-<%=clothe.id%>">
          <div class="edit-modal-bg js-edit-modal-close-<%=clothe.id%>"></div>
          <div class="modal-content-<%=clothe.id%> modal-content">
            <%=render 'edit_form', {brand_name: clothe.brand_name, clothe: clothe}%>
            <a class="js-edit-modal-close-<%=clothe.id%> mt5" href="">閉じる</a>
          </div>
        </div>
        <% if clothe.image.url%>
          <p class="item-img"><%= image_tag clothe.image.url %></p>
        <% end %>
        <div class="item-detail-wrapper">
          <div class="item-detail">
            <div style="font-size:1.4rem" id="brand-name-<%=clothe.id%>"><%= clothe.brand_name.name %></div>
            <div id="genre-<%=clothe.id%>">#<%= clothe.genre %></div>
          </div>
          <div class="item-select-button">
            <%= link_to '選択する',clothe_path(clothe, clothe: { selected: !clothe.selected }), class: "button",id: "js-change-selected-link-#{clothe.id}", remote: true, method: :patch%>
          </div>
        </div>
      </div> 
    <% end %>
  </div>
  <p id="js-selected-count" class="selected-count"></p>
</div>

<%= paginate @my_clothes %>

<div class="outfit-button">
  <%= link_to root_path , 'data-turbolinks': false, data: {confirm: "選択した服を組み合わせますか？"} do %><%=image_tag "clothes.png"%><% end %>
</div>

<span class="add-button js-modal-open">+</span>
<div class="modal js-modal">
    <div class="modal-bg js-modal-close"></div>
    <div class="modal-content">
        <p>登録した画像はMyClosetに保存されます。</p>
        <%= render 'form', {brand_name: @brand_name, clothe: @clothe} %>
        <a class="js-modal-close mt5">閉じる</a>
    </div>
</div>
<script>
$(function(){
  // modal
    $(".js-modal-open").on('click',function(){
        $('.js-modal').fadeIn();
        return false;
    });
    $(".js-modal-close").on('click',function(){
        $('.js-modal').fadeOut();
        return false;
    });
});
$(document).ready(function(){
  var items_height = $(".items").height();
  var view_height = $(window).height();
  if (items_height < 0.7 * view_height){
    $(".footer").addClass("footer-position-bottom")
  };
});
</script>
