<%= render 'shared/nav' %>
<%= render 'modal', type: "search" %>
<p id="alert"><%= flash[:alert].html_safe if !flash[:alert].blank? %></p>
<div class="contents-wrapper">
  <p style="text-align:center;"><%= current_user.name + 'さんのClosetです。' %></p>
  <% if current_user %>
    <% if @selected_count > 0 %>
      <p id="js-selected-count-prev" class="selected-count"><%= "#{@selected_count}件選択中です" %></p>
    <% end %>
    <p id="js-selected-count" class="selected-count"></p>
  <% end %>
  <p style="text-align:center;"><%= '現在登録している服はありません。' if !@user_clothes.present?%></p>
  <%= render 'items', user_clothes: @user_clothes %>
  <%= paginate @user_clothes %>
</div>

<% if current_user.guest? %>
  <a class="pre-add-button">+<span>本ログインで、お持ちの服を追加できます。</span></a>
<% else %>
  <%= link_to '+', new_mycloset_path, remote: true, class:"add-button js-create-modal-open" %>
<% end %>

<%= render 'modal', type: 'create' %>
<%= render 'modal', type: 'fitting' %>

<div class="outfit-button <%= "bg-gray" if @selected_count > 0 %>">
  <% if @selected_count > 0 %>
    <a onclick="fitting_modal()"><%=image_tag "clothes.png"%></a>
  <% else %>
    <a class="pre-selected"><%=image_tag "clothes.png"%><span>服を選択してください。</span></a>
  <% end %>
</div>

<script>
function fitting_modal(){
$('.js-fitting-modal').fadeIn();
$(".js-fitting-modal-close").on('click',function(){
    $('.js-fitting-modal').fadeOut();
    return false;
});

if (!$('#fitting-form').length){
  $('.js-fitting-modal-content').prepend('<%= j(render 'fitting_form')%>');
}
};
</script>
