<%= render 'shared/nav' %>
<div class="contents-wrapper">
  <div class="flex">
    <div class="search-forms">
      <%= render 'search_form', url: search_myclosets_path %>
    </div>
  </div>
  <%= render 'items', clothes: @results %>
  <p id="js-selected-count" class="selected-count"></p>
</div>

<%= paginate @results %>

<%= render 'add_button' %>

<div class="outfit-button">
  <%= link_to root_path , 'data-turbolinks': false, data: {confirm: "選択した服を組み合わせますか？"} do %><%=image_tag "clothes.png"%><% end %>
</div>

<script>
$(document).ready(function(){
  var items_height = $(".items").height();
  var view_height = $(window).height();
  if (items_height < 0.7 * view_height){
    $(".footer").addClass("footer-position-bottom")
  };
});
</script>
