<%= render 'shared/nav' %>
<%= render 'modal', type: "search" %>
<div class="contents-wrapper">
  <div class="search-result">
    <% if @results.present? %>
      <p><%= "#{@results.count} 件見つかりました。" %></p>
    <% else %>
      <p>検索結果が見つかりませんでした。</p>
    <% end %>
    <%= link_to  'MyClosetに戻る',myclosets_path %>
  </div>
  <%= render 'items', clothes: @results %>

  <% if Clothe.where(selected: true).count > 0 %>
  <p id="js-selected-count-prev" class="selected-count"><%= "#{Clothe.where(selected: true).count}件選択中です" %></p>
  <% end %>
  <p id="js-selected-count" class="selected-count"></p>
</div>

<%= link_to '+', new_mycloset_path, remote: true, class:"add-button js-create-modal-open" %>
<%= render 'modal', type: 'create' %>
<div class="outfit-button <%= "opacity1" if Clothe.where(selected: true).count > 0 %>">
  <%= link_to root_path , 'data-turbolinks': false, data: { confirm: "選択した服を組み合わせますか？" } do %><%= image_tag "clothes.png" %><% end %>
</div>

<script>
$(document).ready(function(){
  var items_height = $(".items").height();
  var view_height = $(window).height();
  if (items_height < 0.7 * view_height){
    $(".footer").addClass("footer-position-bottom")
  };
});
</script>
