<%= render 'shared/nav' %>
<%= render 'modal', type: "search" %>
<div class="contents-wrapper">
  <div class="search-result">
    <% if @results.present? %>
      <p><%= "#{@results.count} 件見つかりました。" %></p>
    <% else %>
      <p>検索結果が見つかりませんでした。</p>
    <% end %>
    <%= link_to  'MyClosetに戻る',myclosets_path %>
  </div>
  <%= render 'items', user_clothes: @results %>

  <% if current_user %>
    <% if @selected_count > 0 %>
      <p id="js-selected-count-prev" class="selected-count"><%= "#{@selected_count}件選択中です" %></p>
    <% end %>
    <p id="js-selected-count" class="selected-count"></p>
  <% end %>
</div>

<% if current_user.guest? %>
  <a class="pre-add-button">+<span>本ログインで、お持ちの服を追加できます。</span></a>
<% else %>
  <%= link_to '+', new_mycloset_path, remote: true, class:"add-button js-create-modal-open" %>
<% end %>

<%= render 'modal', type: 'create' %>

<div class="outfit-button <%= "bg-gray" if @selected_count > 0 %>">
  <% if @selected_count > 0 %>
    <%= link_to root_path , 'data-turbolinks': false, data: {confirm: "選択した服を組み合わせますか？" } do %><%=image_tag "clothes.png"%><% end %>
  <% else %>
    <a class="pre-selected"><%=image_tag "clothes.png"%><span>服を選択してください。</span></a>
  <% end %>
</div>
