$("#js-change-selected-link-<%=@user_clothe.id%>").attr("href", "<%= select_mycloset_path(@user_clothe,user_clothe: {selected: !@user_clothe.selected})%>");
<% if @user_clothe.selected %>
  $("#js-change-selected-link-<%=@user_clothe.id%>").text("選択を解除する");
  $("#js-item-<%=@user_clothe.id%>").addClass("opacity-half");
<% else %>
  $("#js-change-selected-link-<%=@user_clothe.id%>").text("選択する");
  $("#js-item-<%=@user_clothe.id%>").removeClass("opacity-half");
<%end%>

<%# ページロードしても取得件数が表示されるようにしているので、選択するを押したときにそれとかぶらないように削除 %>
$("#js-selected-count-prev").css("display","none");
<%# 0件選択中です　とならないように。%>
<% if @selected_count === 0 %>
<%# 消す %>
  $("#js-selected-count").css("display","none");
  $(".outfit-button").css("background-color","#d4d4d48f")
  $('.outfit-button').html('<a class="pre-selected"><%=image_tag "clothes.png"%><span>服を選択してください。</span></a>')
<% else %>
<%# ０件にならないならば出現させる %>
  $("#js-selected-count").css("display","block");
  $("#js-selected-count").text("<%= @selected_count %>件選択中です");
  $(".outfit-button").css("background-color","#2c2c2c96");
  $('.outfit-button').html('<%= link_to root_path , 'data-turbolinks': false, data: {confirm: "選択した服を組み合わせますか？" } do %><%=image_tag "clothes.png"%><% end %>)')
<% end %>
