<div id="js-item-<%= clothe.id %>" class="item <%= "opacity-half" if clothe.selected === true %>">
  <% if clothe.image.url%>
    <p class="item-img"><%= image_tag clothe.image.url %></p>
  <% end %>
  <div class="item-detail-wrapper">
    <div class="item-detail">
      <div style="font-size:1.4rem" id="brand-name-<%=clothe.id%>"><%= clothe.brand_name.name %></div>
      <div id="genre-<%=clothe.id%>">#<%= clothe.genre %></div>
    </div>
    <div class="item-select-button">
    
      <%= link_to 'myclosetに入れる', download_clothe_path(clothe.id) ,method: :post %>
    
      
      <% if clothe.selected === true %>
        <%= link_to '選択を解除する',select_mycloset_path(clothe, clothe: { selected: !clothe.selected }),
        class: "button",id: "js-change-selected-link-#{clothe.id}", remote: true %>
      <% else %>
        <%= link_to '選択する',select_mycloset_path(clothe, clothe: { selected: !clothe.selected }), class: "button",id: "js-change-selected-link-#{clothe.id}", remote: true %>
      <% end %>
    </div>
  </div>
</div>

