<div id="js-item-<%= user_clothe.id %>" class="item">
  <% if logged_in? %>
    <% if user_clothe.user_id != current_user.id %>
      <div class="set-clothe-button"> 
          <%= link_to set_clothe_path(user_clothe.clothe.id), method: :post do %>
            <%= image_tag "hanger.png" %>
          <% end %>
      </div>
    <% end %>
  <% end %>
  <p class="item-img">
    <img src="https://look-closet.s3.ap-northeast-1.amazonaws.com/<%= user_clothe.clothe_id %>.png" crossorigin="anonymous" onerror="this.src='assets/no-image.png'">
  </p>
  <div class="item-detail-wrapper">
    <div class="item-detail">
      <div style="font-size:1.4rem, max-width: 100px;" id="brand-name-<%=user_clothe.clothe.id%>"><%= user_clothe.clothe.brand_name.name %></div>
      <div id="category-<%=user_clothe.clothe.id%>">#<%= user_clothe.clothe.category %></div>
      <div id="gender-<%=user_clothe.clothe.id%>">#<%= user_clothe.clothe.gender %></div>
      <div style="font-size: 0.8rem;"><%= UserClothe.replica(user_clothe).count %>人がMyClosetに登録中</div>
    </div>
  </div>
</div>
