<div id="js-item-<%= clothe.id %>" class="item <%= "opacity-half" if clothe.selected === true %>">
  <div class="set-clothe-button"> 
    <%= link_to set_clothe_path(clothe.id), method: :post do %>
      <%= image_tag "hanger.png" %>
    <% end %>
  </div>
  <% if clothe.image.url%>
    <p class="item-img"><%= image_tag clothe.image.url %></p>
  <% end %>
  <div class="item-detail-wrapper">
    <div class="item-detail">
      <div style="font-size:1.4rem" id="brand-name-<%=clothe.id%>"><%= clothe.brand_name.name %></div>
      <div id="genre-<%=clothe.id%>">#<%= clothe.genre %></div>
    </div>
  </div>
</div>
