<div id="js-item-<%= user_clothe.id %>" class="item">
    <% if logged_in? %>
      <div class="set-clothe-button"> 
          <%= link_to set_clothe_path(user_clothe.clothe.id), method: :post do %>
            <%= image_tag "hanger.png" %>
          <% end %>
      </div>
    <% end %>
  <% if user_clothe.clothe.image.url%>
    <p class="item-img"><%= image_tag user_clothe.clothe.image.url %></p>
  <% end %>
  <div class="item-detail-wrapper">
    <div class="item-detail">
      <div style="font-size:1.4rem" id="brand-name-<%=user_clothe.clothe.id%>"><%= user_clothe.clothe.brand_name.name %></div>
      <div id="category-<%=user_clothe.clothe.id%>">#<%= user_clothe.clothe.category %></div>
      <div id="gender-<%=user_clothe.clothe.id%>">#<%= user_clothe.clothe.gender %></div>
    </div>
  </div>
</div>
