<%= render 'shared/nav' %>
<%= render 'myclosets/modal', type: "search" %>
<div class="contents-wrapper">
  <% if !logged_in? %>
      <p class="require-login">利用するには<%= link_to 'ゲストログイン', guest_login_path, method: :post %>、<br>もしくは
      <%= link_to 'ログイン', login_path %>してください。</p>
  <% end %>

  <%= current_user.email if logged_in? %>
  <%= render 'items', clothes: @clothes %>
  <%= paginate @clothes %>
</div>

<script>
$(function(){
  // modal
    $(".js-modal-open").on('click',function(){
        $('.js-modal').fadeIn();
        return false;
    });
    $(".js-modal-close").on('click',function(){
        $('.js-modal').fadeOut();
        return false;
    });
});
  // items要素が70vhより小さければfooternをbottom:0に設置
$(document).ready(function(){
  var items_height = $(".items").height();
  var view_height = $(window).height();
  if (items_height < 0.7 * view_height){
    $(".footer").addClass("footer-position-bottom")
  };
});
</script>
