<%= render 'shared/nav' %>
<div class="contents-wrapper">
  <%= "#{Clothe.where(selected: true).count}件選択中です"%>
  <div class="flex">
    <%= button_to '組み合わせる', root_path , method: :get, 'data-turbolinks': false, class: 'button' %>
    <input type="search">
  </div>
  <div class="items">
    <% @clothes.each do |clothe| %>
        <div class="item">
          <p class="item-img"><%= image_tag clothe.image.url %></p>
          <div class="item-detail"><%= clothe.brand_name.name %><br><%= clothe.genre %></div>
          <div class="item-details">
            <!--
            <% if clothe.selected %>
            <%= link_to '選択を解除する', clothe_path(clothe, clothe: {selected: false}), id: "change-selected-false-#{clothe.id}",remote: true,method: :put, class:'button' %>
            <% else %>
            <%= link_to '選択する', clothe_path(clothe, clothe: {selected: true}), id: "change-selected-true-#{clothe.id}",remote: true,method: :put, class:'button' %>
            <% end %>
            -->
            <%= link_to '選択する',clothe_path(clothe ,clothe: {selected: !clothe.selected}), class:"button",id: "change-selected-link-#{clothe.id}", remote: true, method: :patch%>
          </div>
        </div> 
  <% end %>
  </div>
</div>
