<%= render 'shared/nav' %>
<%= render 'myclosets/modal', type: "search" %>
<div class="contents-wrapper">
  <div class="search-result">
    <% if @results.present? %>
      <p><%= "#{@results.count} 件見つかりました。" %></p>
    <% else %>
      <p>検索結果が見つかりませんでした。</p>
    <% end %>
    <%= link_to '洋服一覧に戻る', request.referer %>
  </div>
  <%= render 'items', clothes: @results %>
</div>
